.htaccess
/config.php
/admin/config.php

/download/
/image/data/
/image/cache/
/system/cache/
/system/logs/

/system/storage/

/vqmod/logs/
/vqmod/vqcache/
/vqmod/checked.cache
/vqmod/mods.cache

/webstat/*

/adminka/catalog/controller/
/adminka/catalog/model/
/adminka/google-merchant-center-feeds/
/cgi-bin/
/system/cache_mfp/

/sftp-config.json

/.well-known
/catalog/model/payment/tinkoff.log